table {
    font-size: 18px;
    font-family: monospace;
    color: #1F778D;
    line-height: 1.5;
    background-color: white;
}
body {
    background-color: white;
}
strong {
    color: #7D2345;
}

.good {
    color: #77A032;
}

.hits {
    color: #F15B2A;
}